<student-nav></student-nav>

<div class="container">
    <div class="col-sm-12 dash-head">
        <div class="row">
            <div class="col-md-1" style="margin-right:-26px;">
                <img class="" style="max-height:60px;max-width:60px;" src="https://devmounta.in/img/badge.png">
            </div>
            <h2>{{student.cohortName}} Assignments</h2>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <h2>Outstanding Assignments</h2>
                <input type='text' class="form-control" ng-model="searchAssignments" placeholder="Search Assignments" style="margin-bottom:20px;">
                
                <button ng-click="removeSubmitted()" class="btn btn-warning">Filter Submitted</button>
                
                <div ng-repeat="assignment in assignments | filter: searchAssignments| orderBy: 'week'">
                    <div ng-show="!assignment.isSubmitted">
                        <h3>{{assignment.name}}</h3>
                        <h4>Week {{assignment.week}}</h4>
                        <p>{{assignment.details}}</p>
                        <p>{{assignment.url}}</p>
                        Assignment Completed: <input type="checkbox" ng-model="assignment.completed" ng-change="saveAssignment(assigment)">
                        <form class="navbar-form">
                            <div class="form-group">
                                <input type="url" ng-model="assignment.studentUrl" ng-enter="submitAssignment(assignment)" class="nav-form question-form" placeholder=" Submit Repo URL">
                                <a class="btn btn-info" ng-click="submitAssignment(assignment)">Submit Assignment</a>
                            </div>
                        </form>
                        <hr>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <h2>Completed Assignments</h2>
                <input type='text' class="form-control" ng-model="searchCompletedAssignments" placeholder="Search Assignments" style="margin-bottom:20px;">

                <div ng-repeat="assignment in studentAssignments | filter: searchCompletedAssignments| orderBy: 'week'">
                    <h3>{{assignment.name}}: {{assignment.studentUrl}}</h3>
                    <p>Submitted: {{assignment.submittedAt | date}}</p>
                    <h4>Review: {{assignment.review}}</h4>
                    <p>Reviewed by: {{assignment.reviewedBy}}</p>
                    <hr>
                </div>
            </div>
        </div>

    </div>
</div>