body {
	background-color: #404041;
}

.jumbotron{
	margin-top:3%;
	border: 4px solid #5C5B5B;
}

.panel {
	margin-top:6%;
	border: 4px solid #5C5B5B;	
	padding-bottom: 50px;
}

.queue {
	margin-left: 4%;
}

.icon {
	margin-right: 40%;
	margin-left: 40%;
	max-width: 20%;
}

.queue-icon {
	margin-top: -12%;
	margin-right: 40%;
	margin-left: 40%;
	max-width: 20%;
}

.glyphicon {
	font-size: 30px;
	margin-left: 7%;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.action-icons {
	margin-top: 13%;
	padding-right: 75px;
}

.yellow {
	color:#EEEE62;
}

.green {
	color:#177A4F;
}

.unanswered-queue {
	background: red;
}

/* modal styles */
.modal .modal-content {
	background-color: #eee;
	border: 4px solid #5C5B5B;
	padding: 10px;
}

.modal .modal-content .btn-primary {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}
