<mentor-nav></mentor-nav>
<div class="container">
    <div class="dash-head">
        <div class="row">
            <div class="col-md-1" style="margin-right:-26px;">
                <img class="" style="max-height:60px;max-width:60px;" gravatar-src-once="'{{student.email}}'">
            </div>
            <h2>{{student.studentName}}</h2>
            <hr>
        </div>
        <div class="details">
            <h2>{{student.cohort}}</h2>
            <h3>{{student.email}}</h3>
        </div>

        <br/>
        <hr>
        <h2>Submitted Assignments</h2>
        
        <div class="assignment" ng-repeat="assignment in assignments | orderBy: week">
            <h1>Week {{assignment.week}}</h1>
            <h3>Assignment: {{assignment.name}}</h3>
            <p>Repo: {{assignment.url}}</p>

            <p>{{assignment.studentUrl}} - {{assignment.submittedAt | date}}</p>
            <textarea class="form-control" ng-model="assignment.review" rows="3" ng-change="review(assignment)"></textarea>
        </div>
    </div>
</div>
