<mentor-nav></mentor-nav>

<div class="col-md-12"></div>
<div class="panel queue col-md-5 dash-head">
    <div class="col-md-1">
        <img class="" style="max-height:60px;max-width:60px;" src="https://devmounta.in/img/badge.png">
    </div>
    <h2 style="margin-top: 14px; margin-left:70px">Queue</h2>
    <hr>
    <div ng-repeat="question in queue | filter: {status: 'Red'}">
        <div class="">
            <div class="">
                <h2><img gravatar-src-once="question.submittedBy.email" class=""> {{question.submittedBy.studentName}}</h2>
                <p>
                    {{question.text}}
                    <br />
                    <span am-time-ago="question.submittedAt"></span>
                </p>
            </div>
            <div class="panel-body">
                <input type='submit' value="Remove" class="btn btn-danger" ng-click="leaveQueue(question)">
                <input type='submit' value="Assist Student" class="btn btn-warning" ng-click="assigned(question)">
            </div>
        </div>
    </div>
</div>
<div class="panel col-md-5 col-xs-offset-1 dash-head">
    <div class="col-md-1">
        <img class="" style="max-height:60px;max-width:60px;" src="https://devmounta.in/img/badge.png">
    </div>
    <h2 style="margin-top: 14px; margin-left:70px">Being Helped</h2>
    <hr>
    <div ng-repeat="item in queue | filter: {status: 'Yellow'}">
        <div class="col-md-12">
            <h2><img gravatar-src-once="item.submittedBy.email"> {{item.submittedBy.studentName}}</h2>
            <p>
                <img gravatar-src-once="item.mentor.email" class="img-grav">
                {{item.mentor.name}}
                <a ng-click="leaveQueue(item)" class="pull-right btn btn-danger">Done</a>
            </p>
            <hr>
        </div>
    </div>
</div>
