<h1>Testing Dashboard</h1>

<!-- <div class="jumbotron col-md-6 col-md-offset-3">
    <img class="icon" src="https://devmounta.in/img/badge.png">
    <h2>Select your cohort to join the queue</h2>
    <form ng-submit="selectCohort()">
        <select class="form-control" ng-options="item in cohorts" ng-model="cohort" /><br>
        <input type="submit" class="btn btn-info btn-lg" value="Enter the Queue!">
    </form>
</div>

<div class="navbar-fixed-bottom">
    <a ui-sref="mentor">Mentor Login</a>
</div> -->
