<div class="jumbotron col-md-6 col-md-offset-3 dash-head">
    <img class="icon" src="https://devmounta.in/img/badge.png">

    <a href="" ng-click="showReg()">{{status}}</a>

    <div ng-show="reg">
        <h2>Mentor Login</h2>
        <form ng-submit="logMeIn()">
            <p ng-show="error" class="text-danger">{{ error }}</p>
            <input type="email" placeholder="Email" class="form-control" ng-model="user.email" required><br>
            <input type="password" placeholder="Password" class="form-control" ng-model="user.password" required><br>
            <input type="submit" class="btn btn-info" value="Sign In">
        </form><br>
        <p>Not a mentor? <a ui-sref="cohort">Go to student login.</a> </p>
    </div>

    <div ng-show="!reg">
        <h2>Register</h2>
        <form ng-submit="register()">
            <p ng-show="error" class="text-danger">{{ error }}</p>
            <input class="form-control" type="text" placeholder="Full Name" ng-model="mentorInfo.name" required /><br />
            <select class="form-control" ng-options="title for title in titles" ng-model="mentorInfo.title" required>
                 <option value="">-- Select Title --</option>
            </select><br />
            <input class="form-control" type="email" placeholder="Email" ng-model="mentorInfo.email" required /><br />
            <input class="form-control" type="password" placeholder="Password" ng-model="mentorInfo.password" required /><br />
            <input type="submit" class="btn btn-info btn-lg" value="Register" />
        </form>
    </div>
</div>

<!-- modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Enter Password</h4>
                <p>If you are a mentor and don't know this password please contact Cahlan</p>
                <p class="text-muted alert-danger">{{pinError}}</p>
            </div>
            <div class="modal-body">
                <input class="form-control" type="password" id="init-password" placeholder="Enter Password" ng-model="initPassword" required />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="registerCont(initPassword)">Continue</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
