<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-show="!isMentor">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand">{{student.studentName}}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a>Ask a question:</a>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" ng-model="text" class="nav-form form-control" placeholder="Question">
        </div>
        <button type="submit" class="btn btn-info" ng-click="enterQueue()">Enter Queue</button>
      </form>
    <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Present Mentors <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
        <li>
            <a>Ean Platter{{mentor.name}}</a>
        </li>
        <li>
            <div class="status-light-green nav-status text-center col-md-8" style="margin-left:10px;">Available</div>
        </li>   
                <li>
            <a>Ean Platter{{mentor.name}}</a>
        </li>
        <li>
            <div class="status-light-green nav-status text-center col-md-8" style="margin-left:10px;">Available</div>
        </li>
          </ul>
        </li>
      </ul>      
    </div>
  </div>
</nav>
<div class="col-md-12"></div>
<div class="panel queue col-md-5">
    <img class="queue-icon" src="https://devmounta.in/img/badge.png">
    <h1 class="text-center">In Queue</h1>
    <hr>
    <div ng-repeat="question in queue | filter: {status: 'Red'}">
        <div class="panel panel-grey">
                <div class="panel-heading">
                    <h2>{{question.submittedBy.studentName}}</h2><br>
                    <p>
                        {{question.text}}
                        <br />
                        <span am-time-ago="question.submittedAt"></span>
                    </p>                    
                </div>
                <div class="panel-body">
                    <input type='submit' value="Remove Me From Queue" class="btn btn-danger" ng-click="leaveQueue(question)">
                    <input ng-show="isMentor" type='submit' value="Assist This Student" class="btn btn-warning" ng-click="leaveQueue(question)">

                </div>
            </div>
    </div>
</div>
<div class="panel col-md-5 col-xs-offset-1">
    <img class="queue-icon" src="https://devmounta.in/img/badge.png">
    <h1 class="text-center">Being Helped</h1>
    <hr>
    <div ng-repeat="item in queue | filter: {status: 'Yellow'}">
        <div class="col-md-8">
            <h2>{{item.submittedBy}}</h2>
            <p>
                {{item.body}}
            </p>
            <p class="text-muted">Assigned to: {{item.mentor}}</p>
        </div>
        <div class="col-md-4 action-icons text-center">
            <a ng-click="leaveQueue(item)" class="green glyphicon glyphicon-remove pull-right"></a>
        </div>
    </div>
</div>