<div class="container">
	<div class="jumbotron">
		<h2>Submit a Question</h2>
		<form>
			<input type="text" placeholder="Question (optional)" ng-model="message" class="form-control"> <br>
			<input type="submit" ng-click="enterQueue()" value="Enter the Queue!" class="btn btn-info btn-lg">
		</form>
	</div>
</div>

<div class="panel queue col-md-5">
	<img class="queue-icon" src="https://devmounta.in/img/badge.png">
	<h1 class="text-center">In Queue</h1>
	<hr>
	<div ng-repeat="item in queue | filter: {status: 'Red'}">
		<div class="col-md-8" >
			<h2>{{item.submittedBy}}</h2>
			<p>
				{{item.body}}
			</p>
		</div>
		<div class="col-md-4 action-icons text-center" >
			<a href="" ng-click="leaveQueue(item)" class="green glyphicon glyphicon-remove pull-right"><span></span></a>
			<a ng-show="mentor()" ng-click="assigned(item)" class="yellow glyphicon glyphicon-ok pull-right"></a>		
		</div>
		
	</div>

	
</div>

<div class="panel col-md-5 col-xs-offset-1">
	<img class="queue-icon" src="https://devmounta.in/img/badge.png">
	<h1 class="text-center">Being Helped</h1>
	<hr>
	<div ng-repeat="item in queue | filter: {status: 'Yellow'}">
		<div class="col-md-8" >
			<h2>{{item.submittedBy}}</h2>
		    <p>
		        {{item.body}}
		    </p>
            <p class="text-muted">Assigned to: {{item.mentor}}</p>
		</div>
		<div class="col-md-4 action-icons text-center" >
			<a ng-show="mentor()" ng-click="leaveQueue(item)" class="green glyphicon glyphicon-remove pull-right"></a>
		</div>
	</div>
	
</div>