<div class="jumbotron queue col-md-10 col-md-offset-1">
	<img class="queue-icon" src="https://devmounta.in/img/badge.png">
	<h1 class="text-center">Le Queue</h1>
	<hr>
	<div class="col-md-8" >
		<h2>Ean</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. 
		</p>
	</div>
	<div class="col-md-4 action-icons text-center" >
		<a ng-click="omg" class="green glyphicon glyphicon-off pull-right"></a>
		<a ng-click="omg" class="yellow glyphicon glyphicon-ok pull-right"></a>		
	</div>
	<div class="col-md-8" >
		<h2>Ean</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. 
		</p>
	</div>
	<div class="col-md-4 action-icons text-center" >
		<a ng-click="omg" class="green glyphicon glyphicon-off pull-right"></a>
		<a ng-click="omg" class="yellow glyphicon glyphicon-ok pull-right"></a>		
	</div>
	<div class="col-md-8" >
		<h2>Ean</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. 
		</p>
	</div>
	<div class="col-md-4 action-icons text-center" >
		<a ng-click="omg" class="green glyphicon glyphicon-off pull-right"></a>
		<a ng-click="omg" class="yellow glyphicon glyphicon-ok pull-right"></a>		
	</div>		


</div>