<a ui-sref="secure.dashboard" class="btn btn-danger" style="margin-top:-88px;">To Dashboard</a>

<div class="container">
	<div class="dash-head">
        <div class="row">
            <div class="col-md-1" style="margin-right:-26px;">
                <img class="" style="max-height:60px;max-width:60px;"  src="https://devmounta.in/img/badge.png">
            </div>
        <h2 style="margin-top: 14px;">Student Roster</h2>
        </div>
        <hr>		
		<div ng-repeat="student in students">
			<h2>{{student.studentName}},</h2> 
			<h3>
				Mentor: {{student.mentorName}}
			</h3>			
			<div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
			    Manage Student
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			    <li role="presentation">
			    	<a href='' ng-click="addStudent(student)">Add Student</a>
				</li>

			    <li role="presentation">
			    	<a href='' ng-click="removeStudent(student)">Remove Student</a>
			    </li>

			    <li role="presentation">
			    	<a href='' ng-click="graduate(student)">Graduate Student</a>
			    </li>

			    <li role="presentation">
			    	<a href='' ng-click="boot(student)">Drop Student</a>
			    </li>

			    <li role="presentation">
			    	<a href='' ng-click="revert(student)">Revert Student</a>
			    </li>
			  </ul>
			</div>
		</div>
	</div>
</div>
