<a ui-sref="secure.dashboard" class="btn btn-danger" style="margin-top:-88px;">To Dashboard</a>

<div class="container">
	<div class="dash-head">
        <div class="row">
            <div class="col-md-1" style="margin-right:-26px;">
                <img class="" style="max-height:60px;max-width:60px;"  src="https://devmounta.in/img/badge.png">
            </div>
        <h2 style="margin-top: 14px;">Student Roster</h2>
        </div>
        <hr>		
		<div ng-repeat="student in students">
			Student Name:{{student.studentName}}, Mentor Name:{{student.mentorName}}, Alumni?:{{student.alumni}}, Dropped?:{{student.dropped}} 
			

			<div>
				<a href='' ng-click="addStudent(student)">add Student</a><br>
				<a href='' ng-click="removeStudent(student)">remove Student</a><br>
				<a href='' ng-click="graduate(student)">graduate Student</a><br>
				<a href='' ng-click="boot(student)">drop Student</a><br>
				<a href='' ng-click="revert(student)">revert Student</a><br>
			</div>	

		</div>
	</div>
</div>
